$tmg-icon-base-margin: $tmg-margin-base-horizontal;

i.text-info {
  color: $brand-tmg-skyblue;
}

i.fa.space-left {
  margin-left: $tmg-icon-base-margin;
}

i.fa.space-right {
  margin-right: $tmg-icon-base-margin;
}
