$brand-tmg-skyblue: #51D5F5 !default;

$tmg-padding-base-vertical: 12px;
$tmg-padding-base-horizontal: 24px;
$tmg-margin-base-vertical: 10px;
$tmg-margin-base-horizontal: 10px;
$tmg-margin-sections: ($tmg-margin-base-vertical * 2);

$tmg-soften-opacity: 0.75;

$tmg-icon-color: $brand-tmg-skyblue;
